{% extends 'padre.html' %}

{% block contenido %}
    <div class="container mt-5">
        <h2>Editar Usuario</h2>
        
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Guardar Cambios</button>
            <a href="{% url 'edit_pass' %}" class="btn btn-warning">Cambiar Contraseña</a>
            <a href="{% url 'Home' %}" class="btn btn-outline-dark fw-bolder">Cancelar</a>
        </form>
    </div>
{% endblock contenido %}