{% extends 'padre.html' %}


{% block contenido %}
    <header class="py-5">
        <div class="container px-5 pb-5">
            <div class="row gx-5 align-items-center">
                <div class="col-xxl-5">
                    <div class="text-center text-xxl-start">
                        <div class="fs-3 fw-light text-muted">Hola {{ user.username }} bienvenido !!</div>
                        <h1 class="display-3 fw-bolder mb-5"><span class="text-gradient d-inline">¡Empieza a crear tu Portafolio!</span></h1>
                        <h2 class="fw-bolder">Completa la información y ve la MAGIA</h2>
                        <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xxl-start mb-3">
                            <a class="btn btn-primary btn-lg px-5 py-3 me-sm-3 fs-6 fw-bolder" href="{% url 'perfil_crear' %}">Perfil</a>

                            <a class="btn btn-primary btn-lg px-5 py-3 me-sm-3 fs-6 fw-bolder {% if not perfil_existe %}disabled{% endif %}" href="{% url 'estudio_lista' %}">Estudios</a>
                            <a class="btn btn-outline-dark btn-lg px-5 py-3 fs-6 fw-bolder {% if not perfil_existe %}disabled{% endif %}" href="{% url 'tecnologia_lista' %}">Tecnologías</a>
                            <a class="btn btn-outline-dark btn-lg px-5 py-3 fs-6 fw-bolder {% if not perfil_existe %}disabled{% endif %}" href="{% url 'proyecto_lista' %}">Proyectos</a>
                        </div>

                        <h3 class="fw-bolder pt-5">Y por último...</h3>
                        <a class="btn btn-outline-dark btn-lg px-5 py-3 fs-6 fw-bolder {% if not perfil_existe %}disabled{% endif %}" href="{% url 'portfolio' %}">Portafolio</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock contenido %}        